<div class="tasks-list">
  <div
    *ngIf="userName"
    style="text-align: center; margin: 1em 0; font-size: 1.2em"
  >
    {{ userName }} ,שלום
  </div>
  <div class="buttons">
    <app-log-out />
    <app-add-task-button />
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div class="content" *ngIf="!error">
    <div *ngIf="tasks.length === 0">אין משימות.</div>
    <h2 *ngIf="tasks.length > 0">רשימת משימות</h2>
    <ul *ngIf="tasks.length > 0">
      <li *ngFor="let task of tasks">
        <div class="task">
          <input
            type="checkbox"
            [checked]="task.completed"
            (change)="onTaskCompletedChange(task, $event)"
          />
          <strong class="title" [ngClass]="{ 'completed-task': task.completed }">{{
            task.title
          }}</strong>
        </div>
        <!-- <span *ngIf="task.description"> - {{ task.description }}</span> -->
        <div class="task-btns">
          <button class="task-btn edit" (click)="editTask(task)">ערוך</button>
          <button class="task-btn delete" (click)="deleteTask(task)">
            מחק
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
