<form (ngSubmit)="register()" #registerForm="ngForm" class="register-form">
  <h2>הרשמה</h2>
  <div>
    <label>אימייל</label>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      required
      autocomplete="username"
    />
  </div>
  <div>
    <label>סיסמא</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      name="password"
      required
      autocomplete="new-password"
    />
    <input type="checkbox" [(ngModel)]="showPassword" name="showPassword" />
    הצג סיסמא
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="success" class="success">{{ success }}</div>
  <button type="submit" [disabled]="loading || !registerForm.form.valid">
    {{ loading ? "רושם..." : "הירשם" }}
  </button>
  <div class="login-link">
    כבר יש לך חשבון ?<a routerLink="/login"> התחבר כאן</a>
  </div>
</form>
